* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul,
li {
  text-decoration: none;
  list-style-type: none;
  color: white;
  font-size: 1.5rem;
  width: 10vw;
  margin: 7% 3%;
}

body {
  background-color: #1a191e;
  display: flex;

  .leftSideBar {
    flex: 2 1 23%;
    padding-right: 3vw;
    border-right: 1px solid white;
    // border: 0px solid pink;

    .logo {
      height: 8vw;
      width: 8vw;
      border-radius: 50%;
      margin: 7% 3%;
      transition: all 0.5s ease;

      &:hover {
        background-color: grey;
      }
      .logoImg {
        height: 8vw;
        width: 8vw;
        filter: invert(90%);
        margin: 7% 3%;
        padding: 10px;
      }
    }

    ul {
      //   display: flex;
      //   flex-wrap: wrap;
      .boxGrid {
        width: 16vw;
        display: flex;
        transition: all 1s ease;
        border: 0px solid white;

        &:hover {
          border-radius: 20px;
          background-color: grey;
        }
      }

      .icon {
        height: 3vw;
        width: 3vw;
        filter: invert(90%);
        margin: 7% 5%;
      }

      // .communtiesBox {
      //   width: 16vw;
      // }

      // .notificationsBox {
      //   width: 16vw;
      // }
    }
  }

  .main {
    flex: 8 1 58%;
    border: 0px solid lightgreen;

    .navbar {
      border: 0px solid aqua;
      height: 25vh;
      padding-top: 1rem;
      box-shadow: 0px 5px 6px -6px #777;
      position: sticky;
      top: 0;
      //背景模糊度為10px
      backdrop-filter: blur(20px);
      z-index: 1;

      h1 {
        font-size: 2rem;
        color: white;
        margin: 0px 0px 1rem 2rem;
      }

      .bottonNavbar {
        border: 0px solid lightgreen;
        display: flex;
        justify-content: space-around;
        padding: 1.15rem;

        h3 {
          font-size: 1.35rem;
          color: white;
          padding: 1.15rem 1.5rem;
          transition: all 0.5s ease;

          &:hover {
            background-color: #777;
          }

          &:active {
            border-bottom: 1px solid rgba(38, 175, 244, 0.7);
            border-radius: 5%;
            border-width: 1vw;
          }
        }
      }
    }

    .mainContent {
      .userArea {
        display: flex;
        justify-content: flex-start;

        .userImg {
          height: 3rem;
          width: 3rem;
          filter: invert(80%);
          margin: 1rem 1.5rem;
        }
        .userName {
          font-size: 2rem;
          color: white;
          margin-top: 1.25rem;
        }
      }

      .postContent {
        padding: 0px 1rem;

        .postText {
          color: white;
          font-size: 1.35rem;
          display: flex;
          flex-wrap: wrap;
          padding-right: 4rem;
          padding-left: 2rem;
          margin-bottom: 2rem;
        }

        .postImg {
          height: 50vh;
          width: 94%;
          border-radius: 20px;
          margin-bottom: 4rem;
          margin-left: 3%;
          transition: all 0.5s ease;

          &:active {
            border-radius: 0px;
            scale: 1.5;
          }
        }

        .postVideo {
          height: 50vh;
          width: 94%;
          border-radius: 20px;
          margin-bottom: 4rem;
          margin-left: 3%;
        }
      }

      .iconBar {
        display: flex;
        justify-content: space-around;
        padding-bottom: 3%;
        border-bottom: 1px solid grey;

        .icon {
          height: 2rem;
          width: 2rem;
          filter: invert(80%);
        }

        .iconArea {
          padding: 0px 3px;
          display: flex;
          border-radius: 5px;
          transition: all 0.5s ease;

          &:hover {
            background-color: #777;
          }

          .iconText {
            color: white;
            font-size: 1.15rem;
            font-weight: bold;
            margin: 5px;
          }
        }
        .share {
          padding: 0px 3px;
          border-radius: 5px;
          transition: all 0.5s ease;

          &:hover {
            background-color: #777;
          }
        }
      }
    }
  }

  .rightArea {
    flex: 2 1 30%;
    border-left: 1px solid white;
    .searchBar {
      .searchBox {
        height: 2.5rem;
        width: 80%;
        margin: 2.5vh 2vh 2.5vh 2rem;
        padding-left: 2.5rem;
        color: white;

        border-style: none;
        border-radius: 20px;

        background-image: url("../image/icon/search.svg");
        background-size: 1.65rem;
        background-repeat: no-repeat;
        background-position: 0.5rem center;
        background-color: #777;

        //使用placeholder偽元素更改文字顏色
        &::placeholder {
          color: white;
          font-size: 1.25rem;
        }
      }
    }

    .subscribeBox {
      height: 35vh;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      border: 0px solid pink;
      border-radius: 5px;
      background-color: #3b3b3b;
      margin: 1.5rem;
      padding: 1rem 2rem 1rem 0.5rem;

      h3 {
        color: white;
        font-size: 1.5rem;
      }

      p {
        margin-top: 1rem;
        color: white;
        font-size: 1.15rem;
      }

      .subscribeBtn {
        height: 3rem;
        width: 8rem;
        margin-top: 1rem;
        background-color: rgba(38, 175, 244, 0.7);
        font-size: 1.3rem;
        color: white;
        border: none;
        border-radius: 20px;
      }
    }

    .trendsBox {
      height: 110vh;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      border: 0px solid pink;
      border-radius: 5px;
      background-color: #3b3b3b;
      margin: 1.5rem;
      padding: 1rem 2rem 1rem 0.5rem;

      h3 {
        color: white;
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
      }

      .trendTag {
        width: 110%;
        padding-left: 1rem;
        transition: all 0.5s ease;

        &:hover {
          background-color: #cecece;
        }

        p {
          color: grey;
          font-size: 1.2rem;
          margin: 0.5rem 0px;
        }

        h4 {
          color: white;
          font-size: 1.5rem;
        }
      }

      .showMore {
        text-decoration: none;
        font-size: 1.3rem;
        color: rgba(38, 175, 244, 0.7);
        margin-top: 3rem;
      }
    }
  }
}
